<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap"
          rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ALLmoco.styles.css" asp-append-version="true" />
    <title>@ViewData["Title"] - ALLmoço</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark border-bottom border-secondary"> <!-- aqui alteramos a cor para dark mode, deixamos moderno e sombra minimalista-->
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ALLmoço</a>
                <a asp-page="/Logout" class="btn btn-outline-light">
                    Sair
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-center py-3">

        <div class="container">

            <small class="text-secondary">
                App desenvolvido exclusivamente de Fernando para Giovana 
            </small>

        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>