@page
@model IndexModel

@{
    ViewData["Title"] = "ALLmoço - Início";
}

<div class="hero-container">

    <div class="hero-content">

        <div class="logo-icon">
            <div class="plate"></div>
        </div>

        <h1 class="logo-text">
            ALLmoço
        </h1>

        <p class="hero-subtitle">
            O SEU acompanhamento diário de refeições
        </p>

        <a class="btn hero-button"
           asp-page="/Meals">

            Iniciar

        </a>

    </div>

</div>